html{
    background:#018DED url(https://unsplash.it/1500/1000?image=1022);;
    background-size: cover;
    text-align: center; 
    font-size: 10px;
}

body{
    margin: 0;
    display: flex;
    flex: 1;
    font-size: 2rem;
    align-items: center;
    /* justify-content: center; */
    min-height: 100vh;
}



/* creating a clock */

.clock{
    height: 30rem;
    width: 30rem;
    border: 20px solid rgb(119, 117, 117);
    border-radius: 50%;
    margin: 50px auto;
    padding: 20px;
    box-shadow:
    0 0 0 4px rgba(28, 63, 21, 0.705),
    inset 0 0 0 3px rgb(233, 8, 8),
    inset 0 0 10px rgb(0, 0, 0),
    0 0 10px rgba(12, 25, 218, 0.2);
    position: relative;
}

.clock-face{
    height: 100%;
    width: 100%;
    transform: translateY(-3px);  
    position: relative;  
}

.num{
    color: white;
    font-size: 4rem;
    position: relative;
}

.three{
    top: 27%;
    left: 47%;
}

.six{
    top: 57%;
}

.nine{
    top:-5%;
    right: 46%;
}

.hand{
    width: 50%;
    background: black;
    height: 6px;
    top: 50%;
    position: absolute;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition:all 0.05s;
  transition-timing-function:cubic-bezier(0.1, 2.7, 0.58, 1);
}

.sec-hand{
    background: red !important;
    height: 3px;
}

.hour-hand{
    width:35%;
    left:15%;
  }

.pin{
    position:absolute;
    top:47%;
    left:47%;
    width:1em;
    height:1em;
    background:black;
    border-radius:50%;
  }